body {
    height: 100vh;
    border: 1px solid black;
    margin: 0;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
}
main {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid red;
    margin-top: 250px;
}

main > p {
    font-size: 30px;
    border: 1px solid black;
    margin: 10px;
}

.quote {
    font-size: 50px;
    margin: 20px;  
}
@media screen and (min-width: 700px){
    * {
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        border: 1px solid black;
        width: 700px;
        height: 500px;
        padding: 0;
    }
    main {
        margin-top: 0px;
    }
    .nextQuestionButton {
        text-align: center;
        margin-top: 90px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid black;
        position: relative;
        display: flex;
        flex-flow: row;
        justify-content: flex-end; 
    }

    button {
        background: blue; 
        color: white;   
        font-size: 18px;
        width: 200px;
        height: 40px;
        margin-right: 50px;
    }