body {
    height: 100vh;
}
main {
    
    border: 1px solid black; 
    box-shadow: lightgray;
    margin: 20px;
    height: 100%;
    text-align: center;
    padding-top: 45%;
    
}

h1, h2, p {
    border: 1px solid black;
    margin: 0px;
    
}

main > h2 {
    font-size: 20px;
}

.quiz {
    font-size: 40px;
    margin-top: 30px;
}

button {
    border: 1px solid black;
    height: 40px;
    width: 33%; 
    font-size: 20px;
    

}