* {
    box-sizing: border-box;
}
body {
    height: 100vh;
}
main {
    
    border: 1px solid black; 
    box-shadow: lightgray;
    margin: 20px;
    height: 100%;
    text-align: center;
    padding-top: 20%;
    
}

h1, h2, p {
    border: 1px solid black;
    margin: 0px;
    
}

main > h2 {
    font-size: 30px;
}

.quiz {
    font-size: 40px;
    margin-top: 30%;
}

button {
    border: 1px solid black;
    height: 40px;
    width: 66%; 
    font-size: 20px;
    margin-top: 200px;
}

@media screen and (min-width: 700px){
    
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main {
        border: 1px solid black; 
        width: 600px;
        height: 400px; 
        padding-top: 80px;
        display: block;
        margin: auto;
        
        
    }
    .quiz {
        font-size: 40px;
        margin-top: 1%;
    }
    
    .questionsStart{
        margin-top: 20px;
    }
    button {
        border: 1px solid black;
        height: 50px;
        width: 66%; 
        font-size: 20px;
        margin-top: 30px;
    }

})