
form {
    width: 50vw;
    height: 50vw;
    
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}


button {
    border-radius: 5px;
    color: white;
    background-color: lime;
    height: ;
    width: ;
}