* {
    box-sizing: border-box;
    color: white;
  }
  body {
    /*border: 1px solid black;
    background: url('http://www.montypython.com/uploads/Films_FOLDER_Movies-103sqX.jpg');
    background-size: 100% 100%;*/
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }
  
  header {
    text-align: center;
  }
  
  main {
    text-align: center;
  }
  
  button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    background-color: green;
    border: 2px solid white;
  }
  
  .inputcontainer {
    display: block;
    height: 50px;
    width: 300px;
    outline: 2px solid white;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 15px;
    text-align: left;
    padding-left: 15px;
  }
  
  .inputcontainer input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      border: 2px solid #ffffff;
      transition: .2s all linear;
      outline: none;
      margin-right: 5px;
      position: relative;
      top: 2px;
  }
  
  input:checked {
      border: 2px solid red;
  }
  
  @media screen and (min-width: 700px) {
    body {
      height: 100vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      
    }
    .container {
      border: 2px solid white;
      width: 500px;
      height: 500px;
      margin: auto;
      
    }
  
  
  }